
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

.title {
    font-family: 'Playfair Display', serif;
}

.navbar-brand {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #de8f40;
}

.nav-link {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* .section-about {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 100;
    font-style: normal;
} */

.section-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.section-covers {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #de8f40;
}

.hero-section {
    background: url('../img/background1.jpg') center/cover fixed no-repeat;

}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-gold {
    background: linear-gradient(45deg, #c9a227, #f5d36c);
    border: none;
    font-weight: 600;
}

#covers {
    background: url('../img/fondosofa.png') center/cover fixed no-repeat;
}

#contact {
    background: url('../img/fondosofa.png') center/cover fixed no-repeat;
}

.video-card {
    position: relative;
    cursor: pointer;
}

.video-card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
}

.video-card:hover .overlay {
    opacity: 1;
}

.about-section {
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
                url('../assets/about.jpg') center/cover fixed no-repeat;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}
